<p id="notice"><%= notice %></p>

<p>
  <b>Donation date:</b>
  <%= @donation.donation_date %>
</p>

<p>
  <b>Donation description:</b>
  <%= @donation.donation_description %>
</p>

<p>
  <b>User :</b>
<% if !@donation.user.nil? %>
  <%= @donation.user.name %>
<% end %>
</p>


<p>
  <b>Institution :</b>
<% if !@donation.institution.nil?  %>
  <%= @donation.institution.razao_social %>
<%end%>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
